img#avatar {
    border-radius: 50%;
  }

/* SIDEBAR */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 20px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #F4F6F6;
  vertical-align: middle;
}

.main {
  margin-left: 350px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
}